.chat {
  // border: 1px solid #ccc;
  width: 100vw;
  min-height: 87vh;
  max-height: 87vh;
  max-width: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (min-width: 900px) {
    width: 900px;
  }

  .horiz-scroll {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
