// colors

// dark
$primary-dark: #2d2936;
$bg-dark: #141414;
$accent-dark: #7f49d9;
$accent-dark-hover: #6439a8;
$shade-dark: #8049d943;
$text-dark: #eeeeee;
$user-message-dark: #350089;

// light
$primary-light: #e8dbfc;
$bg-light: #F1EAFF;
$accent-light: #DCBFFF;
$accent-light-hover: #bf9de9;
$shade-light: #8049d943;
$text-light: #1e1e1e;
$user-message-light: #decff5;

// sizes
$border-radius-big: 20px;
$border-radius-small: 15px;
