// colors

// dark
$primary-dark: #2d2936;
$bg-dark: #141414;
$accent-dark: #7f49d9;
$accent-dark-hover: #6439a8;
$shade-dark: #8049d943;
$text-dark: #eeeeee;

// light
$primary-light: #e8e0d8;
$bg-light: #f5f1ed;
$accent-light: #d9ccb7;
$accent-light-hover: #c2b3a0;
$shade-light: #8049d943;
$text-light: #1e1e1e;

// sizes
$border-radius-big: 20px;
$border-radius-small: 15px;
