// colors

// dark
$primary-dark: #787878;
$bg-dark: #141414;
$accent-dark: #7F49D9;
$shade-dark: #8049d943;
$text-dark: #ffffff;

// light
$primary-light: #ECE5DD;
$bg-light: #F5F1ED;
$accent-light: #D9CCB7;
$shade-light: #8049d943;
$text-light: #00000062;

// sizes
$border-radius-big: 20px;
$border-radius-small: 15px;
