@import "./shared/theme.scss";

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.app--dark {
    background: $bg-dark;
}

.app--light {
    background: $bg-light;
}